
@use '../sass/base/reset' as *;
@use '../sass/base/vars' as *;
@use '../sass/base/mixins' as *;

@use '../sass/components/buttons' as *;

@use '../sass/layout/home.scss' as *;
@use '../sass/layout/category.scss' as *;
@use '../sass/layout/seats.scss' as *;
@use '../sass/layout/entries.scss' as *;

img { width: 100%; }

.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1% 0%;
    background-color: $headerFooterBackColor;
    color: $generalFontColor;
    font-family: $textFontFamily;
    font-size: $normalFontSizeMobile;

    &__logo { width: 200px; }

    &__menu{width: 75px;}
}

.footer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1% 0%;
    background-color: $headerFooterBackColor;
    color: $generalFontColor;
    font-family: $textFontFamily;
    font-size: $normalFontSizeMobile;

    a{color: $generalFontColor;}

    &__logo { width: 100px; }

    &__links
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2%;
        font-size: 20px;
        width: 50%;

        &__others
        {
            display: flex;
            flex-direction: column;
            padding: 2%;
        }

        &__imp
        {
            display: flex;
            flex-direction: column;
            padding: 2%;
        }
    }
}

article, section
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1% 0%;
    background-color: $bodyBackColor;
    color: $generalFontColor;
    font-size: $normalFontSizeMobile;
}

article p, section p { font-family: $textFontFamily; }

article h1, section h1 { font-family: $titleFontFamily; }