
@use '../base/vars' as *;
@use '../base/mixins' as *;

@keyframes componentHover
{
    0% { background-color: $buttonsBackColor; color: $elementsFontColor; }
    100% { background-color: $buttonsHoverBackColor; color: $elementsHoverFontColor; }
}

.button
{
    @include buttonStyle($buttonsBackColor, $elementsFontColor, $buttonsHoverBackColor, $elementsHoverFontColor);
    &:hover { animation: componentHover 0.8s; }
}

.select
{
    @include selectStyle($buttonsBackColor, $elementsFontColor, $buttonsHoverBackColor, $elementsHoverFontColor);
    &:hover { animation: componentHover 0.8s; }
}
