
$headerFooterBackColor: #191919;
$bodyBackColor: #C0A080;

$generalFontColor: #D4D4D4;
$importantFontColor: #F5EFE6;
$normalFontSizePC: 20px;
$normalFontSizeMobile: 15px;

$elementsBackColor: #951616;
$elementsHoverBackColor: #D4A50D;

$elementsFontColor: #F5EFE6;
$elementsHoverFontColor: #191919;
