
$headerFooterBackColor: #191919;
$bodyBackColor: #C0A080;

$titleFontFamily : "Dynalight";
$textFontFamily: "Tangerine";
$numFontFamily : "Dynalight";
$paragraphFontFamily : "Quintessential";
$generalFontColor: #D4D4D4;
$importantFontColor: #F5EFE6;
$h2FontColor: #191919;
$liHoverFontColor: #191919;
$normalFontSizePC: 20px;
$normalFontSizeMobile: 15px;

$buttonsBackColor: #951616;
$buttonsHoverBackColor: #D4A50D;
$buttonsDisabledBackColor: #AFAFAF;

$elementsFontColor: #F5EFE6;
$elementsHoverFontColor: #191919;

$popUpBackColor: #951616;
$divsBackColor: #191919;
$menusBackColor: #191919a8;
$menusHoverBackColor: #d4a50db4;
