
$headerFooterBackColor: #191919;
$bodyBackColor: #C0A080;

$titleFontFamily : "Tangerine";
$textFontFamily: "Dynalight";
$generalFontColor: #D4D4D4;
$importantFontColor: #F5EFE6;
$normalFontSizePC: 20px;
$normalFontSizeMobile: 15px;

$buttonsBackColor: #951616;
$buttonsHoverBackColor: #D4A50D;

$elementsFontColor: #F5EFE6;
$elementsHoverFontColor: #191919;

$popUpBackColor: #951616;
$divsBackColor: #191919;