
@use '../base/reset' as *;
@use '../base/vars' as *;
@use '../base/mixins' as *;

.films
{
    &__title
    {
        font-size: 40px;
        margin: 2% 0% 3% 0%;
        font-family: $titleFontFamily;
    }

    &__container
    {
        width: 100%;
        background-color: $divsBackColor;
    }

    &__information
    {
        display: none;
        background-color: $popUpBackColor;
    }

    &__information h1 { font-family: $titleFontFamily; }

    &__information p { font-family: $textFontFamily; }
}