
@use '../base/reset' as *;
@use '../base/vars' as *;
@use '../base/mixins' as *;

.entries
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__filmTitle
    {
        color: $importantFontColor;
        padding: 2% 0% 3% 0%;
        font-size: 40px;
    }

    &__info
    {
        flex-direction: row;
        text-align: center;
        width: 95%;
        background-color: $popUpBackColor;
        padding: 3% 2%;
        border-radius: 5px;

        &__filmImg { width: 30%; }
        &__ticket
        {
            width: 65%;

            &__id
            {
                font-size: 25px;
                padding-bottom: 5%;
            }
            &__date, &__hour
            {
                font-size: 20px;
                padding: 2% 0%;
            }
            &__seats
            {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
    
                &__title
                {
                    width: 100%;
                    padding: 5% 0%;
                    font-size: 25px;
                }
                &__singular
                {
                    width: 45%;
                    margin: 0% 1.5%;
    
                    p
                    {
                        padding: 3% 0%;
                        font-size: 20px;
                    }
                }
            }
        }

    }
    &__menus
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        h2
        {
            text-align: center;
            width: 100%;
            padding: 5% 0% 7% 0%;
            font-size: 30px;
            color: $importantFontColor;
        }
        &__singular
        {
            width: 45%;
            text-align: center;

            h3 { font-size: 25px; }
            &__img { width: 150px; }
            &__options
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                &__add, &__less { width: 60px; }
                &__inp
                {
                    width: 25%;
                    margin: 0% 5%;
                    border-radius: 5px;
                    outline: none;
                }
            }
        }
    }
}
