
@use '../base/reset' as *;
@use '../base/vars' as *;
@use '../base/mixins' as *;

@keyframes buyButtonHover
{
    0% { background-color: $buttonsBackColor; color: $elementsFontColor; }
    100% { background-color: $buttonsHoverBackColor; color: $elementsHoverFontColor; }
}

.entries
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__filmTitle
    {
        color: $importantFontColor;
        padding: 2% 0% 3% 0%;
        font-size: 40px;

        @media (min-width: 768px) { font-size: 50px; }

        @media (min-width: 1024px) { font-size: 60px; }

        @media (min-width: 1440px) { font-size: 70px; }
    }

    &__info
    {
        flex-direction: row;
        text-align: center;
        width: 95%;
        background-color: $popUpBackColor;
        padding: 3% 2%;
        border-radius: 5px;

        &__filmImg { width: 30%; }
        &__ticket
        {
            width: 65%;

            &__id
            {
                font-size: 25px;
                padding-bottom: 5%;

                @media (min-width: 768px) { font-size: 35px; }

                @media (min-width: 1024px) { font-size: 45px; }

                @media (min-width: 1440px) { font-size: 55px; }
            }

            &__date 
            { 
                font-size: 30px;

                @media (min-width: 768px) { font-size: 40px; }

                @media (min-width: 1024px) { font-size: 50px; }

                @media (min-width: 1440px) { font-size: 60px; }
            }

            &__room
            {
                padding: 2% 0% 0% 0%;
                font-size: 30px;

                @media (min-width: 768px) { font-size: 40px; }

                @media (min-width: 1024px) { font-size: 50px; }

                @media (min-width: 1440px) { font-size: 60px; }
            }

            &__seats
            {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
    
                &__title
                {
                    width: 100%;
                    padding: 5% 0%;
                    font-size: 25px;

                    @media (min-width: 768px) { font-size: 35px; }

                    @media (min-width: 1024px) { font-size: 45px; }

                    @media (min-width: 1440px) { font-size: 55px; }
                }

                &__singular
                {
                    width: 45%;
                    margin: 0% 1.5%;
    
                    p
                    {
                        padding: 3% 0%;
                        font-size: 20px;

                        @media (min-width: 768px) { font-size: 30px; }

                        @media (min-width: 1024px) { font-size: 40px; }

                        @media (min-width: 1440px) { font-size: 50px; }
                    }
                }
            }
        }

    }
    &__menus
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        h2
        {
            text-align: center;
            width: 100%;
            padding: 5% 0% 7% 0%;
            font-size: 30px;
            color: $importantFontColor;

            @media (min-width: 768px) { font-size: 40px; }

            @media (min-width: 1024px) { font-size: 50px; }

            @media (min-width: 1440px) { font-size: 60px; }
        }

        &__singular
        {
            width: 45%;
            text-align: center;

            h3 
            {
                font-size: 25px;

                @media (min-width: 768px) { font-size: 35px; }

                @media (min-width: 1024px) { font-size: 45px; }

                @media (min-width: 1440px) { font-size: 55px; }
            }

            &__img { width: 150px; }

            &__options
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                &__more, &__less
                {
                    width: 60px;
                    cursor: pointer;

                    @media (min-width: 768px) { width: 70px;}

                    @media (min-width: 1024px) { width: 80px;}

                    @media (min-width: 1440px) { width: 90px;}
                }

                &__inp
                {
                    width: 25%;
                    margin: 0% 5%;
                    border-radius: 5px;
                    outline: none;
                }
            }
        }
    }
    &__buy
    {
        width: 20%;
        padding: 2% 3%;
        background-color: $buttonsBackColor;
        color: $elementsFontColor;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;

        &:hover
        {
            animation: buyButtonHover 0.6s;
            background-color: $buttonsHoverBackColor;
            color: $elementsHoverFontColor;
        }

        @media (min-width: 768px) 
        { 
            width: 25%;
            font-size: 30px;
        }

        @media (min-width: 1024px) { font-size: 40px; }

        @media (min-width: 1440px) { font-size: 50px; }
    }
    &__popUp
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80%;
        height: 60%;
        background-color: $popUpBackColor;
        color: $generalFontColor;

        h2 { font-size: 40px; }

        form
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            div
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 2% 0%;
                width: 100%;

                label { width: 25%; }
                input
                {
                    width: 65%;
                    border-radius: 5px;
                }
            }
        }
    }
}
